.flex-root {
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  -ms-flex: 1 0 0px;
}

.flex-column-fluid {
  flex: 1 0 auto;
}

.flex-row-fluid {
  flex: 1 auto;
  -ms-flex: 1 0 0px;
  min-width: 0;
}

.content{

  & > .d-flex{
    width: 100%;
    justify-content: center;

    & > div{
      width: 90%;
    }
  }
}


.dataTables_wrapper{

  .row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -12.5px;
    margin-left: -12.5px;

    div.dataTables_length {
      label {
        font-weight: normal;
        text-align: left;
        white-space: nowrap;
      }

      select {
        width: auto;
        display: inline-block;
      }
    }
  }
}

@media (min-width: 992px){
  .content {
    padding: 25px 0;
  }
}

@media (max-width: 991.98px){
  .content {
    padding: 15px 0;
  }
}


#overlay{
  display: none;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #23283a;
  border-color: #23283a;
}

.custom-swal-submit-btn{
  color: $white-color;
  background-color: $primary-color;
  border-color: $primary-color;
}

.swal2-container .swal2-styled.swal2-confirm {
  border: 0;
  border-radius: .25em;
  background-color: #f1416c;
  border-color: #f1416c;
  box-shadow: 0 0 5px #f1416c;
  color: #fff;
  font-size: 1em;

  &:focus{
    box-shadow: 0 0 5px #f1416c;
  }
}
